<form id="ff" method="post">
    <table style="width:100%" border="1">
        <tr>
            <td style="text-align:center">
                姓名:
                <input class="easyui-validatebox" type="text" name="UName" data-options="required:true" />
            </td>
        </tr>
        <tr>
            <td style="text-align:center">
                密码:

                <input class="easyui-validatebox" type="text" name="Pwd" />
            </td>
        </tr>
    </table>
   
</form>