<script type="text/javascript">
    $(function () {
        $('#dg').DimsDG({
            url: "/Login/GetUserList",
            pageSize: 2,
            sortName: "ID",
            sortOrder: 'dasc',
            multiSort: true,
            pageList: [2, 20, 30, 40, 50],
            columns: [[
                { field: 'ID', title: '序号', width: 100, sortable: true },
                { field: 'UName', title: '名称', width: 100, sortable: true },
                { field: 'Pwd', title: '密码', width: 100, sortable: true }
            ]],
            onBeforeLoad: function (param) {
                //param
                //console.log(param);
            },
            title: "<span class='icon-man'>&nbsp;&nbsp;</span>人员管理",
            AddFuntion: function () {
                $('#OperationDiv').DimsDialog({
                    title: "新增数据", href: "/Login/Create", iconCls: 'icon-man',
                    OKFuntion: function () {
                        $.ajax({
                            url: "/Login/Create",
                            type: "Post",
                            data: $("#OperationDiv").find("*").serialize(),
                            dataType: "json",
                            success: function (data) {
                                if (data == 1) {
                                    $.messager.show({
                                        title: '提示',
                                        icon: 'info',
                                        msg: '处理成功',
                                        timeout: 3000,
                                        showType: 'slide'
                                    });
                                    $('#dg').datagrid("reload");
                                    $('#OperationDiv').dialog("close");
                                }
                                else {
                                    $.messager.show({
                                        title: '提示',
                                        icon: 'warning',
                                        msg: '处理失败',
                                        timeout: 3000,
                                        showType: 'slide'
                                    });
                                }
                            }
                        });
                    }
                });
            },
            RemoveFuntion: function (row) {
                $.ajax({
                    url: "/Login/Delete",
                    type: "Post",
                    data: { "ID": row.ID },
                    dataType: "json",
                    success: function (data) {
                        if (data == 1) {
                            $.messager.show({
                                title: '提示',
                                icon: 'info',
                                msg: '处理成功',
                                timeout: 1000,
                                showType: 'slide'
                            });
                            $('#dg').datagrid("reload");
                        }
                        else {
                            $.messager.show({
                                title: '提示',
                                icon: 'warning',
                                msg: '处理失败',
                                timeout: 1000,
                                showType: 'slide'
                            });
                        }
                    }
                });
            }

        });

    })
</script>
<div data-options="region:'center',border:false">

    <div id="tt" class="easyui-tabs" data-options="fit:true">
        <div title="主页" style="padding:5px">
            <div id="dg"></div>
            <div id="OperationDiv"></div>
        </div>
    </div>
</div>