<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue" />

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type="File" name="file_info" fileName="${basedir}/logs/NlogBlog__${level}_${shortdate}.txt"
             layout="${longdate} ${uppercase:${level}} ${message}" encoding="UTF-8" />
    <target xsi:type="File" name="file_debug" fileName="${basedir}/logs/NlogBlog__${level}_${shortdate}.txt"
            layout="${longdate} ${uppercase:${level}} ${message}" encoding="UTF-8" />
    <target xsi:type="File" name="file_warn" fileName="${basedir}/logs/NlogBlog__${level}_${shortdate}.txt"
            layout="${longdate} ${uppercase:${level}} ${message}" encoding="UTF-8" />
    <target xsi:type="File" name="file_error" fileName="${basedir}/logs/NlogBlog__${level}_${shortdate}.txt"
            layout="${longdate} ${uppercase:${level}} ${message}" encoding="UTF-8" />
    <target xsi:type="File" name="file_trace" fileName="${basedir}/logs/NlogBlog__${level}_${shortdate}.txt"
          layout="${longdate} ${uppercase:${level}} ${message}" encoding="UTF-8" />
    <target xsi:type="Mail" name="InfoMail"
             smtpServer="172.27.3.94"
             smtpPort="587"
             smtpAuthentication="Basic"
             smtpUserName="A150020"
             smtpPassword="147"
             from="wending.wang@hitechsemi.com"
               to="wending.wang@hitechsemi.com"
             subject="${machinename}"
             header="=============================================="
             body="${message}"
             footer="===============================================" />
    <target xsi:type="Database" name="dblog" connectionString="Data Source=172.27.3.125;Initial Catalog=TSQLFundamentals2008;User Id=sa;Password=!Qazwsxedc;"
             commandText="  insert into MyLog ([CreateDate], [Origin], [LogLevel], [Message], [StackTrace]) values (@createDate, @origin, @logLevel, @message, @stackTrace);">
      <parameter name="@createDate" layout="${longdate}" />
      <!--日志发生时间-->
      <parameter name="@origin" layout="${callsite}" />
      <!--日志来源-->
      <parameter name="@logLevel" layout="${level}" />
      <!--日志等级-->
      <parameter name="@message" layout="${message}" />
      <!--日志信息-->
      <parameter name="@stackTrace" layout="${stacktrace}" />
      <!--堆栈信息-->
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <!--<logger name="*"  levels="Info" writeTo="file_info" />
    <logger name="*" levels="Debug" writeTo="file_debug" />
    <logger name="*" levels="Warn" writeTo="file_warn" />
    <logger name="*" levels="Error" writeTo="file_error" />
     <logger name="*"  levels="Info" writeTo="InfoMail" />-->
    <logger name="*"   writeTo="dblog" />
  </rules>
</nlog>